$primary: rgb(207, 45, 45);

.products
{
    display: flex;
    flex-wrap: wrap;
}
.subdiv {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 10px;
    padding: 1em;
    border: solid 3px rgb(22, 139, 102);
    border-radius: 25px;
    background-color: rgb(178, 224, 199);
}
body {
    background-color:beige;
}
.red {
    height: 200px;
    width: 200px;
    background-color: red;
    transition: width 3s ease-in-out, background-color 3s ease-out;
}

.blue {
    height: 200px;
    width: 200px;
    background-color: blue;
    transition: width 3s, transform 1s;
}
.red:hover {
    width: 400px;
    background-color: blueviolet;
}
.blue:hover {
    width: 400px;
    transform: rotate(45deg);
}

.add {
    color: $primary;
}
