
.products
{
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
.subdiv {

    padding: 1em;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    background-color: rgb(178, 224, 199);
}
body {
    background-color:beige;
}
.red {
    height: 200px;
    width: 200px;
    background-color: red;
    transition: width 3s ease-in-out, background-color 3s ease-out;
}

.blue {
    height: 200px;
    width: 200px;
    background-color: blue;
    transition: width 3s, transform 1s;
}
.red:hover {
    width: 400px;
    background-color: blueviolet;
}
.blue:hover {
    width: 400px;
    transform: rotate(45deg);
}
