.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subdiv {
    height: auto;
    width: auto;
    padding: 1em;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    background-color: lightblue;
}
body {
    background-image: url(./varit/mountains.jpg);
}
